body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('portada.jpg');
    background-size: cover;
    
    /* Centra la imagen */
    background-position: center;
    
    /* Opcional: añade padding para que el texto no toque los bordes de la foto */
    padding: 40px;
}

.rectangulo-total {
    width: 100%;         /* Ocupa todo el ancho */
    /*background-image: url('media-flor.jpg');*/
    background-color: #ff270f2f;
    background-size: cover;

    border-radius: 10px;
    background-repeat: no-repeat; /* Para que no se repita como mosaico */
    /* Centra la imagen */
    background-position: center;
    
    /* Opcional: añade padding para que el texto no toque los bordes de la foto */
    padding: 40px;
    
    /* Opcional: cambia el color del texto para que contraste con la foto */
    color: rgb(190, 0, 0);
    
    /* Opcional: elimina márgenes si quieres que pegue con el borde */
    margin: 0;
    color: rgb(185, 0, 0);        /* Color del texto */
    padding: 40px 0;    /* Espacio arriba y abajo dentro del rectángulo */
    text-align: center;  /* Centra el texto horizontalmente */
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 20px;
}

.contenedor {
    text-align: justify;
    background-color: rgba(245, 222, 179, 0);
    padding: 40px;
    margin-top: 80px;
    margin-right: 555px;
    margin-left: 525px;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .contenedor-bi-columna {
        flex-direction: column;
    }
    .foto-lado, .texto-lado {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    h1 {
        /* Ajusta el tamaño de la letra para que no se amontone */
        font-size: 1.5rem; 
        
        /* Asegura que la imagen se vea completa */
        background-size: contain; 
        background-repeat: no-repeat;
        
        /* Reduce el espacio interno si es necesario */
        padding: 20px;
    }

    .contenido {
        /* Evita que el contenedor tenga márgenes laterales demasiado grandes */
        width: 100%;
        padding: 10px;
    }
}